.button {
    color: purple;
}

.disabled {
    color: grey;
}

.secondary {
    color: green;
}

.default {
    color: orange;
}

.red {
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
